:root {
  --color-colors-alert-badge-error-border-default: #d62f2d;
  --color-colors-alert-badge-error-border-subtle: #f3c1c0;
  --color-colors-alert-badge-error-surface-default: #ec4c5c;
  --color-colors-alert-badge-error-surface-default-filled: #ffb1b1;
  --color-colors-alert-badge-error-surface-lighter: #feeaf3;
  --color-colors-alert-badge-error-surface-subtle: #fef4f5;
  --color-colors-alert-badge-information-border-default: #5267f4;
  --color-colors-alert-badge-information-border-lighter: #c6cdfb;
  --color-colors-alert-badge-information-surface-default: #5267f4;
  --color-colors-alert-badge-information-surface-lighter: #e2f4ff;
  --color-colors-alert-badge-information-surface-subtle: #f1f3fe;
  --color-colors-alert-badge-success-border-default: #0b832f;
  --color-colors-alert-badge-success-border-subtle: #c7f3ca;
  --color-colors-alert-badge-success-surface-default: #108431;
  --color-colors-alert-badge-success-surface-lighter: #f5fae5;
  --color-colors-alert-badge-success-surface-subtle: #f4fff7;
  --color-colors-alert-badge-warnings-border-default: #8c6f06;
  --color-colors-alert-badge-warnings-border-subtle: #ffe770;
  --color-colors-alert-badge-warnings-surface-default: #ffe174;
  --color-colors-alert-badge-warnings-surface-lighter: #fff8d5;
  --color-colors-alert-badge-warnings-surface-subtle: #fdfae9;
  --color-colors-alert-badge-neutral-border-default: #5f6673;
  --color-colors-alert-badge-neutral-border-subtle: #cfd1d5;
  --color-colors-alert-badge-neutral-surface-default: #5f6673;
  --color-colors-alert-badge-neutral-surface-subtle: #f2f3f4;
  --color-colors-disabled-border: #d9dde7;
  --color-colors-disabled-cell-disable: #fafafa;
  --color-colors-disabled-icon-1: #d9dde7;
  --color-colors-disabled-icon-2: #b4bac7;
  --color-colors-disabled-placeholder-text: #d9dde7;
  --color-colors-disabled-surface-1: #f8f9fb;
  --color-colors-disabled-surface-2: #c3c8d4;
  --color-colors-disabled-text: #b4bac7;
  --color-colors-error-border-darker: #ab3939;
  --color-colors-error-border-default: #e15554;
  --color-colors-error-border-lighter: #f6cccc;
  --color-colors-error-border-subtle: #fceeee;
  --color-colors-error-surface-darker: #ab3939;
  --color-colors-error-surface-default: #e15554;
  --color-colors-error-surface-lighter: #f6cccc;
  --color-colors-error-surface-subtle: #fceeee;
  --color-colors-error-text-icon-icon: #ab3939;
  --color-colors-error-text-icon-text: #ab3939;
  --color-colors-info-border-darker: #3649c6;
  --color-colors-info-border-default: #4259ee;
  --color-colors-info-border-lighter: #b3bdf8;
  --color-colors-info-border-subtle: #eceefd;
  --color-colors-info-surface-darker: #3649c6;
  --color-colors-info-surface-darkest: #29399f;
  --color-colors-info-surface-default: #4259ee;
  --color-colors-info-surface-lighter: #b3bdf8;
  --color-colors-info-surface-subtle: #eceefd;
  --color-colors-info-text-icon-icon: #3649c6;
  --color-colors-info-text-icon-text: #3649c6;
  --color-colors-neutrals-border-darker: #7a8294;
  --color-colors-neutrals-border-default: #c3c8d4;
  --color-colors-neutrals-border-subtle: #d9dde7;
  --color-colors-neutrals-surface-body-bg: #eff2fa;
  --color-colors-neutrals-surface-default: #7a8294;
  --color-colors-neutrals-surface-lighter: #f5f6fa;
  --color-colors-neutrals-surface-overlay-bg: rgba(13, 21, 44, 0.8);
  --color-colors-neutrals-surface-subtle: #d9dde7;
  --color-colors-neutrals-surface-white: #ffffff;
  --color-colors-neutrals-text-icon-body: #1f2b4d;
  --color-colors-neutrals-text-icon-caption: #7a8294;
  --color-colors-neutrals-text-icon-icon: #60697d;
  --color-colors-neutrals-text-icon-label: #60697d;
  --color-colors-neutrals-text-icon-placeholder-text: #b4bac7;
  --color-colors-neutrals-text-icon-subtitle: #31416e;
  --color-colors-neutrals-text-icon-title: #0d152c;
  --color-colors-primary-border-darker: #3649c6;
  --color-colors-primary-border-default: #4259ee;
  --color-colors-primary-border-lighter: #b3bdf8;
  --color-colors-primary-border-subtle: #eceefd;
  --color-colors-primary-surface-darker: #3649c6;
  --color-colors-primary-surface-darkest: #29399f;
  --color-colors-primary-surface-default: #4259ee;
  --color-colors-primary-surface-lighter: #b3bdf8;
  --color-colors-primary-surface-subtle: #eceefd;
  --color-colors-primary-text-icon-icon: #3649c6;
  --color-colors-primary-text-icon-text: #3649c6;
  --color-colors-success-border-darker: #26734b;
  --color-colors-success-border-default: #3bb273;
  --color-colors-success-border-lighter: #c4e8d5;
  --color-colors-success-border-subtle: #ebf7f1;
  --color-colors-success-surface-darker: #26734b;
  --color-colors-success-surface-default: #3bb273;
  --color-colors-success-surface-lighter: #c4e8d5;
  --color-colors-success-surface-subtle: #ebf7f1;
  --color-colors-success-text-icon-icon: #26734b;
  --color-colors-success-text-icon-text: #26734b;
  --color-colors-warning-border-darker: #9d831c;
  --color-colors-warning-border-default: #e1bc29;
  --color-colors-warning-border-lighter: #f6ebbf;
  --color-colors-warning-border-subtle: #fcf8ea;
  --color-colors-warning-surface-darker: #9d831c;
  --color-colors-warning-surface-default: #e1bc29;
  --color-colors-warning-surface-lighter: #f6ebbf;
  --color-colors-warning-surface-subtle: #fcf8ea;
  --color-colors-warning-text-icon-icon: #9d831c;
  --color-colors-warning-text-icon-text: #9d831c;
}
