:root {
  --color-colors-blue-01-50: #eff2fa;
  --color-colors-blue-01-100: #eceefd;
  --color-colors-blue-01-200: #b3bdf8;
  --color-colors-blue-01-300: #687af1;
  --color-colors-blue-01-400: #4259ee;
  --color-colors-blue-01-500: #3649c6;
  --color-colors-blue-01-600: #29399f;
  --color-colors-blue-01-700: #1d2977;
  --color-colors-blue-02-100: #6682d2;
  --color-colors-blue-02-200: #546cb1;
  --color-colors-blue-02-300: #4b61a0;
  --color-colors-blue-02-400: #425690;
  --color-colors-blue-02-500: #31416e;
  --color-colors-blue-02-600: #1f2b4d;
  --color-colors-blue-02-650: rgba(13, 21, 44, 0.8);
  --color-colors-blue-02-700: #0d152c;
  --color-colors-green-100: #ebf7f1;
  --color-colors-green-200: #c4e8d5;
  --color-colors-green-300: #89d1ab;
  --color-colors-green-400: #3bb273;
  --color-colors-green-500: #31935f;
  --color-colors-green-600: #26734b;
  --color-colors-green-700: #1c5436;
  --color-colors-greys-0: #ffffff;
  --color-colors-greys-50: #fafafa;
  --color-colors-greys-100: #f8f9fb;
  --color-colors-greys-200: #f5f6fa;
  --color-colors-greys-300: #f2f4fa;
  --color-colors-greys-400: #eff2fa;
  --color-colors-greys-500: #d9dde7;
  --color-colors-greys-600: #c3c8d4;
  --color-colors-greys-700: #b4bac7;
  --color-colors-greys-800: #7a8294;
  --color-colors-greys-900: #60697d;
  --color-colors-greys-1000: #404b62;
  --color-colors-neutrals-text-icon-title: #0d152c;
  --color-colors-red-100: #fceeee;
  --color-colors-red-200: #f6cccc;
  --color-colors-red-300: #ed9998;
  --color-colors-red-400: #e15554;
  --color-colors-red-500: #c64746;
  --color-colors-red-600: #ab3939;
  --color-colors-red-700: #8f2c2b;
  --color-colors-yellows-100: #fcf8ea;
  --color-colors-yellows-200: #f6ebbf;
  --color-colors-yellows-300: #edd77f;
  --color-colors-yellows-400: #e1bc29;
  --color-colors-yellows-500: #bf9f22;
  --color-colors-yellows-600: #9d831c;
  --color-colors-yellows-700: #7a6615;
  --color-other-color-beaver-100: #f6f5f3;
  --color-other-color-beaver-200: #eeeae7;
  --color-other-color-beaver-300: #ded5d0;
  --color-other-color-beaver-400: #cec3bb;
  --color-other-color-beaver-500: #bcafa3;
  --color-other-color-beaver-600: #ac9a8c;
  --color-other-color-beaver-700: #917a69;
  --color-other-color-bronze-100: #fbf2e9;
  --color-other-color-bronze-200: #f8e5d3;
  --color-other-color-bronze-300: #f0cca7;
  --color-other-color-bronze-400: #eab57f;
  --color-other-color-bronze-500: #e29c55;
  --color-other-color-bronze-600: #db8229;
  --color-other-color-bronze-700: #b3691e;
  --color-other-color-brown-100: #f7f2ee;
  --color-other-color-brown-200: #f1e8e0;
  --color-other-color-brown-300: #e0d3c2;
  --color-other-color-brown-400: #d1bba3;
  --color-other-color-brown-500: #c1a281;
  --color-other-color-brown-600: #b28b63;
  --color-other-color-brown-700: #936f48;
  --color-other-color-celtic-blue-100: #f0f4f8;
  --color-other-color-celtic-blue-200: #e2e9f4;
  --color-other-color-celtic-blue-300: #c0d1e7;
  --color-other-color-celtic-blue-400: #a4bbdc;
  --color-other-color-celtic-blue-500: #86a6d0;
  --color-other-color-celtic-blue-600: #658ec4;
  --color-other-color-celtic-blue-700: #4271ae;
  --color-other-color-cyan-100: #e9f7fc;
  --color-other-color-cyan-200: #cff0f8;
  --color-other-color-cyan-300: #a2e1f1;
  --color-other-color-cyan-400: #6fd2ea;
  --color-other-color-cyan-500: #3fc2e3;
  --color-other-color-cyan-600: #20accf;
  --color-other-color-cyan-700: #1789a5;
  --color-other-color-eggplant-100: #f0ebee;
  --color-other-color-eggplant-200: #e0d6de;
  --color-other-color-eggplant-300: #c4b1bf;
  --color-other-color-eggplant-400: #a5889e;
  --color-other-color-eggplant-500: #82637b;
  --color-other-color-eggplant-600: #5c4657;
  --color-other-color-eggplant-700: #483744;
  --color-other-color-electric-orange-100: #fee7e1;
  --color-other-color-electric-orange-200: #fed0c3;
  --color-other-color-electric-orange-300: #fc9d81;
  --color-other-color-electric-orange-400: #fb6d45;
  --color-other-color-electric-orange-500: #fa3a07;
  --color-other-color-electric-orange-600: #bb2c05;
  --color-other-color-electric-orange-700: #962304;
  --color-other-color-maroon-100: #f7e3e7;
  --color-other-color-maroon-200: #f1cbd3;
  --color-other-color-maroon-300: #e397a7;
  --color-other-color-maroon-400: #d5647b;
  --color-other-color-maroon-500: #c13453;
  --color-other-color-maroon-600: #8c263c;
  --color-other-color-maroon-700: #701e30;
  --color-other-color-olive-100: #f6f6f3;
  --color-other-color-olive-200: #edeee7;
  --color-other-color-olive-300: #dddfd3;
  --color-other-color-olive-400: #cccdbb;
  --color-other-color-olive-500: #babca4;
  --color-other-color-olive-600: #aaac8e;
  --color-other-color-olive-700: #8c906a;
  --color-other-color-orange-100: #fdf0ec;
  --color-other-color-orange-200: #fce5df;
  --color-other-color-orange-300: #f8c8ba;
  --color-other-color-orange-400: #f4af9a;
  --color-other-color-orange-500: #f19579;
  --color-other-color-orange-600: #ed7955;
  --color-other-color-orange-700: #e74b1c;
  --color-other-color-purple-100: #f4f1f9;
  --color-other-color-purple-200: #e9e3f2;
  --color-other-color-purple-300: #d6cbe6;
  --color-other-color-purple-400: #bfafd9;
  --color-other-color-purple-500: #ad97ce;
  --color-other-color-purple-600: #977cc1;
  --color-other-color-purple-700: #7552ad;
  --color-other-color-turquoise-100: #edf7f8;
  --color-other-color-turquoise-200: #dbeff0;
  --color-other-color-turquoise-300: #b7dfe1;
  --color-other-color-turquoise-400: #93cfd2;
  --color-other-color-turquoise-500: #6bbec2;
  --color-other-color-turquoise-600: #48acb2;
  --color-other-color-turquoise-700: #3b898d;
  --color-other-color-violet-100: #f6edfd;
  --color-other-color-violet-200: #f0dffb;
  --color-other-color-violet-300: #dfbbf7;
  --color-other-color-violet-400: #d09bf3;
  --color-other-color-violet-500: #be77ee;
  --color-other-color-violet-600: #ae57ea;
  --color-other-color-violet-700: #931ce3;
  --color-other-color-yellow-100: #fffbe5;
  --color-other-color-yellow-200: #fff7d1;
  --color-other-color-yellow-300: #ffef9e;
  --color-other-color-yellow-400: #ffe770;
  --color-other-color-yellow-500: #ffe041;
  --color-other-color-yellow-600: #ffd812;
  --color-other-color-yellow-700: #dbb702;
  --color-other-color-yellow-green-100: #f5f9ec;
  --color-other-color-yellow-green-200: #eaf3d7;
  --color-other-color-yellow-green-300: #d7e5b2;
  --color-other-color-yellow-green-400: #c3da8b;
  --color-other-color-yellow-green-500: #b1cd66;
  --color-other-color-yellow-green-600: #99bf3e;
  --color-other-color-yellow-green-700: #7d9a32;
}
